body {
  -webkit-font-smoothing: antialiased;
}

.reveal h2 {
  font-size: 1.8em; }

.reveal .slides {
  height: 100%;
  top: 0;
  margin-top: 0;
}

.reveal .slides>section {
  min-height: 90%;
  top: auto;
}

.reveal .slides>section>section {
  min-height: 100%;
}

.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: none;
  box-shadow: none; }


.reveal .slides section .fragment.current-visible-only {
  opacity: 0;
  height: 0;
  visibility: hidden; }
  .reveal .slides section .fragment.current-visible-only.current-fragment {
    opacity: 1;
    height: auto;
    visibility: visible; }

.reveal .slides section.present note {
  position: fixed;
  bottom: 0px;
  font-size: 60%;
  text-align: left;
  display: block;
}

html.dim .backgrounds {
   -webkit-filter: saturate(.5) brightness(1.8);
   -moz-filter: saturate(.5) brightness(1.8);
   -o-filter: saturate(.5) brightness(1.8);
   -ms-filter: saturate(.5) brightness(1.8);
   filter: saturate(.5) brightness(1.8);
}

html.blur .backgrounds {
  -webkit-filter: blur(5px);
 -moz-filter: blur(10px);
 -o-filter: blur(5px);
 -ms-filter: blur(5px);
 filter: blur(5px);
}

.ackimg {
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 10px 10px 8px #888888 !important;
}
